@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
:root{
    --dDblue:hsl(238, 29%, 16%);
    --sRed:hsl(14, 88%, 65%);
    /* Gradient Colors */
    --sViolet:hsl(273, 75%, 66%);
    --sBlue:hsl(240, 73%, 65%);
    /* Text color */
    --VeryDarkGrayishBlue:hsl(237, 12%, 33%);
    --darkGrayishBlue:hsl(240, 6%, 50%);
    /* Dividers Color */
    --lightGrayishBlue:hsl(240, 5%, 91%);
}
body{
    width:100vw;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    padding:450px 20px;
    background-image:linear-gradient(to bottom,var(--sViolet),var(--sBlue));
    background-repeat:no-repeat;
    position: relative;
}
.container{
    width: 100%;
    border-radius:22px;
    position: relative;
    background-color:#fff;
}
.container > .illustration{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 280px;
    height: 100px;
    /* border: 1px solid red; */
}
.container > .illustration > .illustrator{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    top:-60px;
    left: 28px;
    /* border: 1px solid red; */
}
.container > .illustration > .pattern{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0px;
    left:60px;   
}
.container > main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 20px 30px 20px;
}
.container > main > h1{
    margin-bottom: 30px;
    color:var(--dDblue);
}
.container > main > section{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container > main > section > .faq{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px 10px;
}
.container > main > section > .faq > .item{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container > main > section > .faq > .item > .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container > main > section > .faq > .item > .head > h6 { 
    font-size: 0.8em;
    font-weight: 550;
    color:var(--dDblue);
}
.container > main > section > .faq > .item > .head > .arrow{
    display: grid;
    place-items: center;
}
.container > main > section > .faq > .item > .body{
    display: none;
}
.container > main > section > .faq > .item > .body.active{
    display: block;
    margin-top: 8px;
    width: 240px;
    text-align: justify;
    font-size: 0.7em;
    color:var(--VeryDarkGrayishBlue);
    line-height: 1.4em;
}
.container > main > section > .faq > hr{
    outline: none;
    border: 0;
    margin-top: 12px;
    background-color: var(--lightGrayishBlue);
    height: 1px;
}
@media screen and (min-width:700px){
    .container{
        display: flex;
    }
}